.Hola{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.img2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img2 img{
    z-index: 2;
    border-radius: 20%;
    object-fit: cover;
}